<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{title}}</title>
  <script type='text/javascript' src='/js/jquery.js'></script>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/js/datepicker/css/datepicker.css" rel="stylesheet">
	<link href="/js/select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="/js/vertical-timeline/css/style.css" rel="stylesheet">
  
</head>

<body class="custom-font-enabled">
  <div class="container-fluid">
  {{{body}}}
  </div>
</body>

</html>